<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <!-- Add CSS or external stylesheet links here if needed -->

</head>
<body>
    <app-header></app-header>
    <!-- Header -->
    <!-- <header>
        <div class="header-content">
            <img src="assets/logo/Kg_dashboard.png" alt="Logo" class="logo1">
            <img src="assets/logo/KGiSL.jpg" alt="Logo" class="logo2">
        </div>
    </header> -->
<!-- <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="johndadev"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="johndoe@email.com"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="checkbox" id="terms" name="terms">
        <label for="terms">I accept the terms & Condition</label><br><br>
        <input type="submit" value="SIGN UP">
    </form> -->
    <section class="sec-one">
        <img src="assets/logo/staff.png">
        <div class="second-head">
                <p>Professor</p> 
                <h1>Staff Name</h1>
        </div>
    </section>

</body>
</html>
