@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-form{
    height:60vh;
    width:30vw;
    /* border:2px solid #F58426; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top:5%;
    border-radius:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family:'Poppins',sans-serif;
}

.nav{
    height:6%;
    width:calc(100% - 20%);
    /* border:2px solid blue; */
}
.nav ul{
    display:flex;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    font-size:1.1rem;
}
.nav ul li a{
    text-decoration: none;
    color:black;
}
#loginform{
    height: 60%;
    width: 80%;
    /* border:2px solid green; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}
.username , .password{
    height:17%;
    width:80%;
    /* border:2px solid orange; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
}
.username input , .password input{
    border:none;
    height:100%;
    font-size: 1.1rem;
    border-bottom: 2px solid #F58426;
    width:100%;
    outline:none;
    transition: all ease-in-out 200ms;
}
.button{
    width:80%;
    height:13%;
    color:white;
    background-color: #F58426;
    outline:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.button:hover{
    background-color: #d2762c;
}
.navloginitem{
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
}
.navloginitem:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.active{
    border-bottom: 3px solid #F58426;
}
.active:hover{
    border-bottom:none ;
    
}
  
.navloginitem:hover:before {
    border-color: #F58426;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2.5px solid black;
}

.sidenav {
    height: 130vh;
    width: 20vw;
    position: fixed;
    z-index: -1;
    top: -30vh;
    left: -20vw;
    overflow-x: hidden;
    padding-top: 20px;
    rotate: 20deg;
}
.one{
    top: -10vh;
    left: -10vw;
    background-color: rgb(204, 54, 54);
}
.two{
    top: -20vh;
    left: 11vw;
    background-color: rgb(47, 41, 207);
}

