<div>
  <!-- CSE -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'#170F76'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'CSE'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>

  <!-- AIDS -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'#D30F6B'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'AIDS'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>

  <!-- ECE -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'#D3530F'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'ECE'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>

  <!-- CSBS -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'yellow'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'CSBS'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>

  <!-- MECH -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'#39AC11'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'MECH'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>

  <!-- H&S -->
  <circle-progress [percent]="percent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
    [outerStrokeColor]="'gray'" [animation]="true" [animationDuration]="300" [title]="percent.toString()"
    [subtitle]="'H&S'" [showUnits]="true" [units]="'%'" [showSubtitle]="true" [showTitle]="true"
    [unitsColor]="'#483500'" [subtitleColor]="'#483500'" [titleColor]="'#483500'">
  </circle-progress>
</div>