<div class="login-form">
  <div class="nav">
    <ul id="navlogin">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="navloginitem" [routerLink]="['../faculty']">Faculty</a>
      </li>
      <li routerLinkActive="active">
        <a class="navloginitem" [routerLink]="['../course-mentor']">Course Mentor</a>
      </li>
      <li routerLinkActive="active">
        <a class="navloginitem" [routerLink]="['../domain-mentor']">Domain Mentor</a>
      </li>
      <li routerLinkActive="active">
        <a class="navloginitem" [routerLink]="['../admin']">Admin</a>
      </li>
    </ul>
  </div>
    <form id="loginform" [formGroup]="checkoutForm" (ngSubmit)="fetchFacultyData()">
        <div class="username">
            <label for="name">Name</label>
            <p><input id="name" type="text" formControlName="name"></p>
        </div>
        <div class="password">
            <label for="pwd">password</label>
            <p><input id="pwd" type="text" formControlName="password"></p>
        </div>
        <button class="button" type="submit">submit</button>
    </form>
</div>

