
<app-header></app-header>
<body>
   <div class="wrap">
                    <div class="bg-img">
                        <img src=".\assets\logo\Illu.png" alt="">
                    </div>
                    <div class="text">
                        <h1 class="font">Course</h1>
                        <h1 class="font">Tracking</h1>
                        <h1 class="font">Dashboard</h1>
                    </div>
    </div>
    <div class="login-form">
        <app-faculity-login></app-faculity-login>

    </div>
    
</body>

