@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
    display: flex;
    width: 90%;
    min-height: 100vh; 
    position: relative;
    justify-content:end;
    align-items: center; 
}


.loginpagetext {
    z-index: 1; 
    position: absolute; 
    top: 8vh; 
    left:0.6%;
    text-align: center;
    color: black;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; 
    width: 100%; 
}

@media (max-width: 768px) {
    

    .loginpagetext {
        font-size: 6vw; 
        top: 3vh;
    }
}

@media (max-width: 480px) {
    

    .loginpagetext {
        font-size: 8vw; /* Adjust text size for smaller screens */
        top: 4vh; /* Move text closer to the top for mobile screens */
    }
}
.design-bottom{
    height: 40vh;
    width:40vw;
    border-radius: 25% 75% 75% 25% / 30% 25% 75% 28%;
    background-color: aquamarine;
}
    
