
<div class="container">
    <div class="bg-img">
        <img class="img" src=".\assets\logo\Illu.png" alt="">
    </div>
    <div class="nav">
        <ul>
          <li>
            <a [routerLink]="['']">Faculty</a>
          </li>
          <li>
            <a [routerLink]="['course-mentor']">Course Mentor</a>
          </li>
          <li>
            <a [routerLink]="['domain-mentor']">Domain Mentor</a>
          </li>
          <li>
            <a [routerLink]="['admin']">admin</a>
          </li>
        </ul>
    </div>
    <router-outlet/>
</div>   


