<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

<div class="container">

    <div class="left">
        <div class="profile-container">
            <div class="profile-header">
                <img src=".\assets\logo\staff.png" alt="Profile Picture">
                <h2>a</h2>
                <p>Role: 1</p>
            </div>
            <div class="profile-body">
                <div class="profile-info">
                    <p><strong>ID:</strong>{{data.uid}}</p>
                    <p><strong>Name:</strong> {{data.name}}</p>
                    <p><strong>Department ID:</strong>{{data.department_id}}</p>
                </div>
                <ul id="navlogin">
                    <li>
                        <button class="table-btn" (click)="navigateWithData()">Go to Domain Mentor table</button>
                    </li>
                    <li>
                        <button class="logout-btn" (click)="navigateToOut()">Log out</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <!-- <div class="rectangle-t"></div>
        <div class="circle-t"></div> -->
        <div class="pie one">8/10 Uploaded</div>
        <div class="pie two">4/10 App</div>
        <div class="pie three">6/10 Disapp</div>
        <div class="pie four">2/10 Comp</div>

    </div>
</div>