<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<div class="sidenav">
  <button class="table-btn" (click)="navigateWithData()"> < Back
  </button>
</div>
<div class="boxforforms">
  <form [formGroup]="getCourseDataForm" (ngSubmit)="getCourseDetails()">
    <div class="username">
      <p>Select Course</p>
      <select id="course_data" formControlName="course_code">
        <option *ngFor="let option of coursedata" [value]="option.course_code">
          {{ option.course_code }} - {{ option.course_name }}
        </option>
      </select>
    </div>
    <button class="button" type="submit">Get Details</button>
  </form>
</div>
<p class="greeting">Welcome Domain Mentor - {{name}}</p>
<p class="courseCodeAndName">Domain:
  <span *ngIf="domain_id === 1">PROGRAMMING</span>
  <span *ngIf="domain_id === 2">NETWORKS & OPERATING SYSTEMS</span>
  <span *ngIf="domain_id === 3">ALGORITHMS</span>
</p>
<p class="courseCodeAndName">
  Course Code: {{ displayCourseData.course_code }} 
  Course Name: {{ displayCourseData.course_name }}
</p>

<div class="container">
  <div class="table-wrapper">
    <table @fade>
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Topic</th>
          <th>Status</th>
          <th>Link</th>
          <th>Approval</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody @fade>
        <tr *ngFor="let item of data; let i = index">
          <td>{{ item.course_code }}</td>
          <td>{{ item.course_name }}</td>
          <td>{{ item.topic }}</td>
          <td>
            <div
              class="box"
              [style.background-color]="getBoxColor(item.status_code)"
            ></div>
          </td>
          <td>
            <a *ngIf="item.url !== ''" href="{{ item.url }}" target="_blank" style="text-decoration: none">View</a>
            <p *ngIf="item.url === ''">View</p>
          </td>
          <td>
            <!-- Show "Approved" if the item is approved, otherwise show buttons -->
            <ng-container *ngIf="item.status_code === 3; else approvalButtons">
              <span class="approved-text">Approved</span>
            </ng-container>
            <ng-template #approvalButtons>
              <button
                *ngIf="editedIndex !== i"
                (click)="approveupdate(item.topic_id, item.uid)"
                class="statusactivated"
              >
                Approve
              </button>
              <button
                *ngIf="editedIndex !== i"
                (click)="disapproveupdate(i)"
                class="statusactivated"
              >
                Disapprove
              </button>
            </ng-template>

            <!-- Comment input fields for disapproval -->
            <div *ngIf="editedIndex === i">
              <input
                type="text"
                [(ngModel)]="comment"
                placeholder="Enter comment"
              />
              <button
                (click)="commentupdate(comment, item.topic_id, item.uid)"
                class="statusactivated"
              >
                Submit
              </button>
              <button
                (click)="cancelEdit()"
                class="statusactivated"
              >
                Cancel
              </button>
            </div>
          </td>
          <td>
            <!-- Display "No comments" if item.comment is null or empty -->
            <ng-container *ngIf="item.comment && item.comment !== ''; else noComment">
              {{ item.comment }}
            </ng-container>
            <ng-template #noComment>
              No comments
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>