<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form method="get">
            <div class="drop-down">
                <select id="dropdown">
                        <option value="faculty-login">Faculty</option>
                        <option value="domain-mentor-login">Domain Mentor</option>
                        <option value="course-mentor-login">Course Mentor</option>
                        <option value="admin-login">Admin</option>
                </select>
            </div>
            <div class="input-field">
                <div class="username">
                    <p class="user">Username</p>
                    <input type="text">
                </div>
                <div class="password">
                    <p class="pass">Password</p>
                    <input type="password">
                </div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </div>
</body>

</html>