<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container">
    <div class="table-wrapper">
        <table>
            <thead @fade>
              <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Topic</th>
                <th>Outcome</th>
                <th>Status Code</th>
                <th></th>
              </tr>
            </thead>
            <tbody @fade>
              <tr *ngFor="let item of data;let i = index">
                <td>{{ item.course_code }}</td>
                <td>{{ item.course_name }}</td>
                <td>{{ item.topic }}</td>
                <td>{{ item.outcome }}</td>
                <td> <div class="box" [style.background-color]="getBoxColor(item.status_code)"></div></td>
                <td>
                    <ng-container *ngIf="item.status_code == 3">
                      <p  *ngIf="editedIndex===i">Enter hours taken</p>
                      <input *ngIf="editedIndex === i" type="text" [(ngModel)]="hourschange" title="Enter hours taken" class="statusactivatedinput" />
                      <button *ngIf="editedIndex === i" (click)="hoursupdate(hourschange,item.topic_id,item.uid)" class="statusactivated">Submit</button>
                      <button *ngIf="editedIndex === i" (click)="hoursupdate(hourschange,0,item.uid)" class="statusactivated">Cancel</button>
                      <button *ngIf="editedIndex !== i" (click)="editItem(i)" class="statusactivated">Completed</button>
                    </ng-container>
                    <p *ngIf="item.status_code != 3" class="statusdeactivated">Not Completed Yet</p>
                  </td>
            </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="triangle top"></div>
<div class="circle top"></div>
<div class="nav">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<button (click)="viewCompletedList()">Completed topics</button>
<div class="table-wrapper" *ngIf="completedList==1">
    <table>
        <thead @fade>
          <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Topic</th>
            <th>Outcome</th>
            <th></th>
          </tr>
        </thead>
        <tbody @fade>
          <tr *ngFor="let item of completedData;let i = index">
            <td>{{ item.course_code }}</td>
            <td>{{ item.course_name }}</td>
            <td>{{ item.topic }}</td>
            <td>{{ item.outcome }}</td>
        </tr>
        </tbody>
      </table>
</div>