<div class="sidenav">
  <button class="table-btn" (click)="navigateWithData()">< Back</button>
  <button class="table-btn" (click)="showDetails()" [class.active]="activeButton === 'details'">Details</button>
  <button class="table-btn" (click)="showUploaded()" [class.active]="activeButton === 'uploaded'">Uploaded</button>
  <button class="table-btn" (click)="viewCompletedList()" [class.active]="activeButton === 'approved'">Approved</button>
</div>

<div class="containerforgreeting">
  <div class="greeting">
    <p>Welcome Faculty - {{ name }}</p>
    <p class="courseCodeAndName">
      {{ displayCourseData.course_code }} - {{ displayCourseData.course_name }}
    </p>
  </div>

  <div class="boxforforms" *ngIf="details">
    <form [formGroup]="getCourseDataForm" (ngSubmit)="getCourseDetails()">
      <div class="username">
        <p>Select Course</p>
        <select id="course_data" formControlName="course_code">
          <option *ngFor="let option of coursedata" [value]="option.course_code">
            {{ option.course_code }} - {{ option.course_name }}
          </option>
        </select>
      </div>
      <button class="button" type="submit">Get Details</button>
    </form>
  </div>
</div>

<!-- Combined Table Displaying Both Approved and Uploaded Data -->
<div class="container" *ngIf="data.length > 0">
  <div class="table-wrapper">
    <table>
      <thead @fade>
        <tr>
          <th>Topic</th>
          <th>Outcome</th>
          <th>Status Code</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody @fade>
        <tr *ngFor="let item of data; let i = index">
          <ng-container *ngIf="activeButton === 'details'">
            <td>{{ item.topic }}</td>
            <td>{{ item.outcome }}</td>
            <td>
              <div class="box" [style.background-color]="getBoxColor(item.status_code)"></div>
            </td>
            <td>
              <!-- Link or Buttons for Upload/Edit -->
              <span *ngIf="item.url === '' && item.can_upload === 0">view</span>
              <a *ngIf="item.status_code > 0 && editedIndex !== i" class="statusactivated" [href]="item.url" target="_blank">view</a>
              <button *ngIf="item.status_code === 0 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">upload link</button>
              <button *ngIf="item.status_code > 0 && item.status_code < 3 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">edit</button>
              <!-- Link Update Form -->
              <div *ngIf="editedIndex === i">
                <input type="text" [(ngModel)]="link" placeholder="Enter link" />
                <button (click)="linkupdate(link, item.topic_id, item.uid)" class="statusactivated">Submit</button>
                <button (click)="linkupdate(link, 0, item.uid)" class="statusactivated">Cancel</button>
              </div>
            </td>
          </ng-container>

          <ng-container *ngIf="item.status_code !== 3 && activeButton === 'uploaded'">
            <td>{{ item.topic }}</td>
            <td>{{ item.outcome }}</td>
            <td>
              <div class="box" [style.background-color]="getBoxColor(item.status_code)"></div>
            </td>
            <td>
              <!-- Link or Buttons for Upload/Edit -->
              <span *ngIf="item.url === '' && item.can_upload === 0">view</span>
              <a *ngIf="item.status_code > 0 && editedIndex !== i" class="statusactivated" [href]="item.url" target="_blank">view</a>
              <button *ngIf="item.status_code === 0 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">upload link</button>
              <button *ngIf="item.status_code > 0 && item.status_code < 3 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">edit</button>
              <!-- Link Update Form -->
              <div *ngIf="editedIndex === i">
                <input type="text" [(ngModel)]="link" placeholder="Enter link" />
                <button (click)="linkupdate(link, item.topic_id, item.uid)" class="statusactivated">Submit</button>
                <button (click)="linkupdate(link, 0, item.uid)" class="statusactivated">Cancel</button>
              </div>
            </td>
          </ng-container>

          <ng-container *ngIf="item.status_code === 3 && activeButton === 'approved'">
            <td>{{ item.topic }}</td>
            <td>{{ item.outcome }}</td>
            <td>
              <div class="box" [style.background-color]="getBoxColor(item.status_code)"></div>
            </td>
            <td>
              <!-- Link or Buttons for Upload/Edit -->
              <span *ngIf="item.url === '' && item.can_upload === 0">view</span>
              <a *ngIf="item.status_code > 0 && editedIndex !== i" class="statusactivated" [href]="item.url" target="_blank">view</a>
              <button *ngIf="item.status_code === 0 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">upload link</button>
              <button *ngIf="item.status_code > 0 && item.status_code < 3 && editedIndex !== i && item.can_upload === 1"
                      (click)="idupdate(i)" class="statusactivated">edit</button>
              <!-- Link Update Form -->
              <div *ngIf="editedIndex === i">
                <input type="text" [(ngModel)]="link" placeholder="Enter link" />
                <button (click)="linkupdate(link, item.topic_id, item.uid)" class="statusactivated">Submit</button>
                <button (click)="linkupdate(link, 0, item.uid)" class="statusactivated">Cancel</button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p
  class="nocompletedtext"
  *ngIf="completedList == 1 && completedData == 'Failure' && completedTopicPrompt == true"
>
  No completed Topics Yet !
</p>