<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<div class="sidenav">
  <li>
    <button class="table-btn" (click)="navigateWithData()">< Back</button>
  </li>
</div>
<div class="containerforgreeting">
  <div class="greeting">
    <p>Welcome Faculty - {{ name }}</p>
    <p class="courseCodeAndName">
      {{ displayCourseData.course_code }}-{{ displayCourseData.course_name }}
    </p>
  </div>
  <div class="boxforforms">
    <form [formGroup]="getCourseDataForm" (ngSubmit)="getCourseDetails()">
      <div class="username">
        <p>Select Course</p>
        <select id="course_data" formControlName="course_code">
          <option
            *ngFor="let option of coursedata"
            [value]="option.course_code"
          >
            {{ option.course_code }} - {{ option.course_name }}
          </option>
        </select>
      </div>
      <button class="button" type="submit">Get Details</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="table-wrapper">
    <table>
      <thead @fade>
        <tr>
          <th>Topic</th>
          <th>Outcome</th>
          <th>Status Code</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody @fade>
        <tr *ngFor="let item of data; let i = index">
          <td>{{ item.topic }}</td>
          <td>{{ item.outcome }}</td>
          <td>
            <div
              class="box"
              [style.background-color]="getBoxColor(item.status_code)"
            ></div>
          </td>
          <td>
            <span *ngIf="item.url == '' && item.can_upload == 0">view</span>
            <a
              *ngIf="item.status_code > 0 && editedIndex != i"
              class="statusactivated"
              [href]="getMoodleLink(item.url)"
              target="_blank"
              >view</a
            >
            <button
              *ngIf="
                item.status_code == 0 &&
                editedIndex != i &&
                item.can_upload == 1
              "
              (click)="idupdate(i)"
              class="statusactivated"
            >
              upload link
            </button>
            <button
              *ngIf="
                item.status_code > 0 &&
                item.status_code < 3 &&
                editedIndex != i &&
                item.can_upload == 1
              "
              (click)="idupdate(i)"
              class="statusactivated"
            >
              edit
            </button>
            <div *ngIf="editedIndex == i">
              <input type="text" [(ngModel)]="link" placeholder="Enter link" />
              <button
                (click)="linkupdate(link, item.topic_id, item.uid)"
                class="statusactivated"
              >
                Submit
              </button>
              <button
                (click)="linkupdate(link, 0, item.uid)"
                class="statusactivated"
              >
                cancel
              </button>
            </div>
          </td>
          <td>
            <ng-container *ngIf="item.status_code == 3">
              <p *ngIf="completedIndex === i">Enter hours taken</p>
              <input
                *ngIf="completedIndex === i"
                type="text"
                [(ngModel)]="hourschange"
                title="Enter hours taken"
                class="statusactivatedinput"
              />
              <button
                *ngIf="completedIndex === i"
                (click)="hoursupdate(hourschange, item.topic_id, item.uid)"
                class="statusactivated"
              >
                Submit
              </button>
              <button
                *ngIf="completedIndex === i"
                (click)="hoursupdate(hourschange, 0, item.uid)"
                class="statusactivated"
              >
                Cancel
              </button>
              <button
                *ngIf="completedIndex !== i"
                (click)="editItem(i)"
                class="statusactivated"
              >
                Completed
              </button>
            </ng-container>
            <span *ngIf="item.status_code != 3" class="statusdeactivated"
              >Not Completed Yet</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="triangle top"></div>
<div class="circle top"></div>
<div class="nav">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<button class="comp-btn" (click)="viewCompletedList()">Completed topics</button>
<p
  class="nocompletedtext"
  *ngIf="completedList == 1 && completedData == 'Failure'"
>
  No completed Topics Yet !
</p>
<div
  class="table-wrapper"
  *ngIf="completedList == 1 && completedData != 'Failure'"
>
  <table>
    <thead @fade>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Topic</th>
        <th>Outcome</th>
        <th></th>
      </tr>
    </thead>
    <tbody @fade>
      <tr *ngFor="let item of completedData; let i = index">
        <td>{{ item.course_code }}</td>
        <td>{{ item.course_name }}</td>
        <td>{{ item.topic }}</td>
        <td>{{ item.outcome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="design"></div>