<div class="container">   
    <p>Welcome {{data.name}}!</p>
    <form [formGroup]="checkoutForm" (ngSubmit)="fetchCourses()">
        <div class="username">
            <label for="name">department_id</label>
            <p><input id="name" type="text" formControlName="department_id"></p>
        </div>
        <button class="button" type="submit">Get courses</button>
    </form>
    <tr *ngFor="let item of courses;">
        <td>{{ item.course_code }}</td>
        <td> - </td> 
        <td>{{ item.course_name }}</td>
    </tr></div>