<p>admin works!</p>
<p>{{data.name}}</p>

        <!--   <button class="add-row-btn" (click)="showForm = !showForm">Add New Row</button>
        
         <div *ngIf="showForm" class="form-wrapper">
            <form (ngSubmit)="addNewRow()" class="add-row-form">
                <div class="form-group">
                    <label for="course">Course:</label>
                    <input type="text" id="course" [(ngModel)]="newRow.Course" name="course" required />
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" [(ngModel)]="newRow.Title" name="title" required />
                </div>
                <div class="form-group">
                    <label for="outcome">Outcome:</label>
                    <input type="text" id="outcome" [(ngModel)]="newRow.Outcome" name="outcome" required />
                </div>
                <div class="form-group">
                    <label for="material">Material:</label>
                    <input type="text" id="material" [(ngModel)]="newRow.Material" name="material" placeholder="0-White 1-Orange 2-Red 3-Green" required />
                </div>
                <div class="form-group">
                    <label for="hours">Hours:</label>
                    <input type="number" id="hours" [(ngModel)]="newRow.Hours" name="hours" required />
                </div>
                <div class="form-group">
                    <label for="documentLink">Document Link:</label>
                    <input type="text" id="documentLink" [(ngModel)]="newRow.DocumentLink" name="documentLink" />
                </div>
                <button type="submit" class="submit-btn">Submit</button>
            </form> 
        </div>-->