<div class="container">
  <div class="boxforboxforforms">
    <div class="boxforforms">
      <p>GET COURSES -</p>
      <form [formGroup]="checkoutForm" (ngSubmit)="fetchCourses()">
        <div class="username">
          <label for="name">department_id</label>
          <select formControlName="department_id">
            <option [value]="1">CSE</option>
            <option [value]="2">AI&DS</option>
            <option [value]="3">ECE</option>
            <option [value]="4">CSBS</option>
            <option [value]="5">IT</option>
            <option [value]="6">S&H</option>
          </select>
        </div>
        <button class="button" type="submit">Get courses</button>
      </form>
      <tr *ngFor="let item of courses">
        <td>{{ item.course_code }}</td>
        <td>-</td>
        <td>{{ item.course_name }}</td>
      </tr>
    </div>
    <div class="boxforforms">
      <p>ADD COURSES -</p>
      <form [formGroup]="addCourseForm" (ngSubmit)="addCourse()">
        <div class="username">
          <label for="name">department_id</label>
          <select formControlName="department_id">
            <option [value]="1">CSE</option>
            <option [value]="2">AI&DS</option>
            <option [value]="3">ECE</option>
            <option [value]="4">CSBS</option>
            <option [value]="5">IT</option>
            <option [value]="6">S&H</option>
          </select>
        </div>
        <div class="username">
          <label for="name">course_code</label>
          <p><input id="name" type="text" formControlName="course_code" /></p>
        </div>
        <div class="username">
          <label for="name">course_name</label>
          <p><input id="name" type="text" formControlName="course_name" /></p>
        </div>
        <button class="button" type="submit">Add course</button>
      </form>
      <p *ngIf="courseResponse != 'failed'">Success!</p>
    </div>
  </div>
  <div class="boxforboxforforms">
    <div class="boxforforms">
      <p>GET TOPICS -</p>
      <form [formGroup]="getTopicForm" (ngSubmit)="getTopic()">
        <div class="username">
          <label for="name">course_code</label>
          <p><input id="name" type="text" formControlName="course_code" /></p>
        </div>
        <button class="button" type="submit">Get Topics</button>
      </form>
      <tr class="topiclist" *ngFor="let item of topics">
        <td>{{ item.topic_id }}</td>
        <td>-</td>
        <td>{{ item.topic }}</td>
        <td>-</td>
        <td>{{ item.outcome }}</td>
      </tr>
    </div>
    <div class="boxforforms">
      <p>ADD TOPICS -</p>
      <form [formGroup]="addTopicForm" (ngSubmit)="addTopic()">
        <div class="username">
          <label for="name">department_id</label>
          <select (change)="onCourseOptionChange($event)">
            <option [value]="0">-</option>
            <option [value]="1">CSE</option>
            <option [value]="2">AI&DS</option>
            <option [value]="3">ECE</option>
            <option [value]="4">CSBS</option>
            <option [value]="5">IT</option>
            <option [value]="6">S&H</option>
          </select>
        </div>
        <div class="username">
          <label for="name">course_code</label>
          <select formControlName="course_code">
            <option *ngFor="let option of courses" [value]="option.course_code">
              {{ option.course_code }} = {{ option.course_name }}
            </option>
          </select>
        </div>
        <div class="username">
          <label for="name">Topic id</label>
          <p><input id="name" type="number" formControlName="topic_id" /></p>
        </div>
        <div class="username">
          <label for="name">Topic name</label>
          <p><input id="name" type="text" formControlName="topic" /></p>
        </div>
        <div class="username">
          <label for="name">outcome</label>
          <p><input id="name" type="text" formControlName="outcome" /></p>
        </div>
        <div class="username">
          <label for="name">total hours</label>
          <p><input id="name" type="number" formControlName="total_hours" /></p>
        </div>
        <button class="button" type="submit">Add Topic</button>
      </form>
      <p *ngIf="topicResponse != 'failed'">Success!</p>
    </div>
  </div>
  <div class="boxforforms">
    <p>REGISTER USER -</p>
    <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUserInfo()">
      <div class="username">
        <label for="name">ID</label>
        <p><input id="name" type="number" formControlName="id" required /></p>
      </div>
      <div class="username">
        <label for="name">department_id</label>
        <select required formControlName="department_id">
          <option [value]="1">CSE</option>
          <option [value]="2">AI&DS</option>
          <option [value]="3">ECE</option>
          <option [value]="4">CSBS</option>
          <option [value]="5">IT</option>
          <option [value]="6">S&H</option>
        </select>
      </div>
      <div class="username">
        <label for="name">Name</label>
        <p><input required id="name" type="text" formControlName="name" /></p>
      </div>
      <div class="username">
        <label for="name">Password</label>
        <p>
          <input required id="name" type="text" formControlName="password" />
        </p>
      </div>
      <div class="username">
        <label for="name">role</label><br />
        <select required formControlName="role">
          <option [value]="1">Faculty</option>
          <option [value]="2">Course Mentor</option>
          <option [value]="3">Domain Mentor</option>
          <option [value]="4">Admin</option>
        </select>
      </div>
      <button class="button" type="submit">Register</button>
    </form>
    <p *ngIf="registerResponse != 'failed'">Success!</p>
  </div>
  <div class="boxforforms">
    <p>ASSIGN COURSE - </p>
    <form [formGroup]="assignCourseForm" (ngSubmit)="assignCourseDetails()">
      <div class="username">
        <label for="name">Faculty department</label>
        <select (change)="onAssignOptionChange($event)">
          <option [value]="0">-</option>
          <option [value]="1">CSE</option>
          <option [value]="2">AI&DS</option>
          <option [value]="3">ECE</option>
          <option [value]="4">CSBS</option>
          <option [value]="5">IT</option>
          <option [value]="6">S&H</option>
        </select>
      </div>
      <div class="username">
        <label for="name">Faculty</label>
        <select formControlName="uid">
          <option *ngFor="let option of faculty" [value]="option.uid">
            {{ option.uid }} - {{ option.name }}
          </option>
        </select>
      </div>
      <div class="username">
        <label for="name">Course department</label>
        <select (change)="onCourseOptionChange($event)">
          <option [value]="0">-</option>
          <option [value]="1">CSE</option>
          <option [value]="2">AI&DS</option>
          <option [value]="3">ECE</option>
          <option [value]="4">CSBS</option>
          <option [value]="5">IT</option>
          <option [value]="6">S&H</option>
        </select>
      </div>
      <div class="username">
        <label for="name">course_code</label>
        <select formControlName="course_code">
          <option *ngFor="let option of courses" [value]="option.course_code">
            {{ option.course_code }} = {{ option.course_name }}
          </option>
        </select>
      </div>
      <button class="button" type="submit">Assign Course</button>
    </form>
    <p *ngIf="assignmentResponse != 'failed'">Success!</p>
  </div>
  <div class="boxforforms">
    <p>ASSIGN MENTOR - </p>
    <form [formGroup]="assignMentorForm" (ngSubmit)="assignCourseMentorDetails()">
      <div class="username">
        <label for="name">Mentor department</label>
        <select (change)="onAssignOptionChange($event)">
          <option [value]="0">-</option>
          <option [value]="1">CSE</option>
          <option [value]="2">AI&DS</option>
          <option [value]="3">ECE</option>
          <option [value]="4">CSBS</option>
          <option [value]="5">IT</option>
          <option [value]="6">S&H</option>
        </select>
      </div>
      <div class="username">
        <label for="name">Faculty</label>
        <select formControlName="uid">
          <option *ngFor="let option of faculty" [value]="option.uid">
            {{ option.uid }} - {{ option.name }}
          </option>
        </select>
      </div>
      <div class="username">
        <label for="name">Course department</label>
        <select (change)="onCourseOptionChange($event)">
          <option [value]="0">-</option>
          <option [value]="1">CSE</option>
          <option [value]="2">AI&DS</option>
          <option [value]="3">ECE</option>
          <option [value]="4">CSBS</option>
          <option [value]="5">IT</option>
          <option [value]="6">S&H</option>
        </select>
      </div>
      <div class="username">
        <label for="name">course_code</label>
        <select formControlName="course_code">
          <option *ngFor="let option of courses" [value]="option.course_code">
            {{ option.course_code }} = {{ option.course_name }}
          </option>
        </select>
      </div>
      <button class="button" type="submit">Assign Mentor</button>
    </form>
    <p *ngIf="mentorAssignmentResponse != 'failed'">Success!</p>
  </div>
</div>

<div class="orange-cross-bar"></div>
<div class="orange-bubble-left-middle"></div>