<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<div class="container">
    <div class="left">
        <div class="profile-container">
            <div class="profile-header">
                <img src=".\assets\logo\staff.png" alt="Profile Picture">
                <h2 class="faculty-profile-name">{{name}}</h2>
                <p>Course Coordinator</p>
            </div>
            <div class="profile-body">
                <div class="profile-info">
                    <p><strong>ID:</strong>{{userdata.uid}}</p>
                    <p><strong>Name:</strong> {{name}}</p>
                    <p><strong>Department Name:</strong>
                        <span *ngIf="userdata.department_id === 1">CSE</span>
                        <span *ngIf="userdata.department_id === 2">AI&DS</span>
                        <span *ngIf="userdata.department_id === 3">ECE</span>
                        <span *ngIf="userdata.department_id === 4">CSBS</span>
                        <span *ngIf="userdata.department_id === 5">IT</span>
                        <span *ngIf="userdata.department_id === 6">S&H</span></p>
                    <p><strong>Links ></strong></p>    
                        <div class="profile-info-links">
                            <ul id="navlogin">
                              <li>
                                <button class="table-btn" (click)="navigateWithData()">Course table >
                                </button>
                              </li>
                              <li>
                                <button class="logout-btn" (click)="navigateToOut()">
                                  |< Logout </button>
                              </li>
                            </ul>
                          </div>
                </div>          
            </div>
        </div>
    </div>
  
    <div class="right">
      <div class="nametext">  
          <p class="greeting">Welcome Course Coordinator - {{name}}</p>
        </div>
        <p class="courseCodeAndName">{{displayCourseData.course_code}} - {{displayCourseData.course_name}}</p>
        <div class="progress-grid">
          <div *ngFor="let item of courseDataCurrent; let i = index" class="progress-container">
            <p class="facultyprogress">Faculty - {{item.uid}} {{item.name}}</p>
            <label for="facultyprogress">Current Progress:</label>
            <div class="progressbar-horizontal">
              <div class="progresscolor" [style.background-color]="item.bar_color"></div>
              <p>{{item.completed_hours}} / {{item.total_hours}}</p>
            </div>
        
    
          <div>
            <label for="facultyprogress">Overall Progress:</label>
            <div class="progressbar-horizontal">
              <progress 
                class="progressbars" 
                [value]="courseDataOverall[i].count" 
                [max]="courseDataOverall[i].total_count">
                {{courseDataOverall[i].completed_hours}}
              </progress>
              <p class="progress-text">{{courseDataOverall[i].count}} / {{courseDataOverall[i].total_count}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="piechart-container">
          <div class="mainChart">
              <canvas id="MyChart">{{ chart }}</canvas>
           </div>
       </div>
    </div>
</div>