@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins',sans-serif;
    list-style:none;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-y: hidden;
}

.faculty-profile-name{
    text-transform: capitalize;
}
.profile-header {
    background-color: rgba(105, 105, 105, 0.125);
    padding: 10px;
    height: 35vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

.profile-header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.profile-header h2 {
    font-size: 1.6rem;
    color: rgb(216, 216, 216);
}

.profile-header p {
    color: #e67e22;
    font-weight: bold;
    font-size: 1.2rem;
}

.profile-body {
    padding: 20px;
}


.profile-info {
    background-color: rgba(90, 90, 90, 0.125);
    border-radius: 10px;
    height: auto;
    padding: 5% 5%;
    margin-top: 10%;
    text-align: left;
    font-size: 1rem;
}
.profile-info-links {
    background-color: rgba(147, 147, 147, 0.125);
    border-radius: 10px;
    height: auto;
    padding: 5% 5%;
    border: 2px solid white;
}

.profile-info p {
    margin: 1vw 0;
    color: #b5b5b5;
}

.left {
    background-color: #333;
    width: 20vw;
    height: 100vh;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.3);
    justify-content: center;
    align-items: center;
}

.profile-info strong {
    color: #e67e22;
}
.content{
    margin:0 10%;
    height:95vh;
    width:50vw;
    margin-top:2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.content .welcome-msg{
    font-size:3.3em;
    font-weight:600;
    font-family:'poppins',sans-serif;
}
#navlogin {
    width: 12vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1vh;
}


.right{
    margin-top:2.19%;
}
.greeting{
    padding-left: 3vw;
    font-size: 2.6rem;
    color:orange;
    margin-top:6vh;
}
.courseCodeAndName{
    padding-left: 5vw;
    color:rgb(123, 123, 123);
    font-size: larger;
    font-weight: 600;
}
.logout-btn,
.table-btn {
    font-size: 1.2rem;
    border: none;
    background: none;
    color:  #ff902f;
    font-weight: 500;
    outline: none;
    border-radius: 5px;
}

.logout-btn:hover,
.table-btn:hover {
    color: white;
    text-decoration: underline;
}

.pie {
    width: 300px;
    height: 300px;
    background-image: conic-gradient(rgb(0, 120, 4) 81%, rgb(43, 147, 25) 81%);
    border-radius:50%;
}
.two{
    background-image: conic-gradient(rgb(0, 120, 4) 40%, rgb(43, 147, 25) 40%);
}
.three{
    background-image: conic-gradient(rgb(0, 120, 4) 60%, rgb(43, 147, 25) 60%);
}
.four{
    background-image: conic-gradient(rgb(0, 120, 4) 20%, rgb(43, 147, 25) 20%);
}
.pie-chart{
    height:80vh;
    width:80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2vw;
}
.right .pie-chart p{
    position: relative;
    top:-15%;
}

.progresscolor{
    width:20px;
    height:20px;
}