
<div class="login-form">
    <form [formGroup]="checkoutForm" (ngSubmit)="fetchCourseMentorData()">
        <div class="username">
            <label for="name">Name</label>
            <p><input id="name" type="text" formControlName="name"></p>
        </div>
        <div class="password">
            <label for="pwd">password</label>
            <p><input id="pwd" type="text" formControlName="password"></p>
        </div>
        <button class="button" type="submit">submit</button>
    </form>
</div>

