
<div class="login-form">
  <div class="nav">
    <ul id="navlogin">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="navloginitem" [routerLink]="['../faculty-login']">Faculty</a>
      </li>
      <li routerLinkActive="active">
        <a class="navloginitem" [routerLink]="['../course-mentor-login']">Course Coordinator</a>
      </li>
      <li routerLinkActive="active">
        <a class="navloginitem" [routerLink]="['../domain-mentor-login']">Domain Mentor</a>
      </li>
    </ul>
  </div>
    <form id="loginform"  [formGroup]="checkoutForm" (ngSubmit)="fetchCourseMentorData()">
      <div class="username">
        <label for="name">Coordinator ID</label>
        <p><input id="name" type="text" formControlName="name"></p>
    </div>
    <div class="password">
        <label for="pwd">Password</label>
        <p><input id="pwd" type="password" formControlName="password"></p>
    </div>
    <p *ngIf="errorMessage!=''">Error: {{errorMessage}}</p>
    <button class="button" type="submit">LOGIN</button>
    </form>
</div>

